---
layout: default
rdf_prefix_path: "prefixes.pref"
---
<div class="container-fluid">
  <div class="row">
      <main role="main" class="container col-sm-9 col-md-10 col-lg-8 col-xl-7">
        {% include ontology-head.html iri = result.subject.iri %}

        <h1>{{ page.rdf.iri }}</h1>

        <h2 id="classes">PO Statements</h2>
        {% assign query = 'SELECT DISTINCT ?pre ?obj WHERE { ?resourceUri ?pre ?obj  FILTER(!sameTerm(?pre, <http://www.w3.org/2000/01/rdf-schema#comment>)) }' %}
        {% assign resultset = page.rdf | sparql_query: query %}

        <table>
        {% for result in resultset %}
          <tr>
            <td>{{ result.pre }}</td>
            <td>{{ result.obj }}</td>
          </tr>
        {% endfor %}
        </table>

        {% comment %} if page.rdf.covered {% endcomment %}
        {%- capture iri -%}<{{page.rdf.iri}}>{%- endcapture -%}
        {%- assign linksResource = iri | rdf_get -%}

        {% if linksResource %}
          {% include links.html iri = page.rdf.iri %}
        {% endif %}
      </main>
  </div>
</div>
